{% extends 'template/twbs_bootstrap.html.twig' %}

{% block title %}User Profile{% endblock %}
{% block style %}
    <style>
        #profile-picture-container{
            text-align: center;
        }
        @media (min-width: 768px){
            #profile-picture-container{
                text-align: right;
            }
        }
        @media (min-width: 992px){
            #profile-picture-container{
                text-align: center;
            }
        }
        img#profile-picture-preview{
            max-width: 140px;
            max-height: 160px;
            border: 1px solid rgba(0, 0, 0, .3);
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'template/partial/navbar.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include 'user/profile/form.html.twig'%}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function readURL(input, target) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(target).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#profile_picture").on('change', function(){
            readURL(this, "#profile-picture-preview");
        });

        $("#birth_date").datepicker({
            format: 'yyyy-mm-dd',
            orientation: 'top auto',
            startDate: '-100y',
            endDate: '0',
            defaultViewDate: { 
                year: ((new Date()).getFullYear() - 25),
                month: ((new Date()).getMonth()),
            }
        });
    </script>
{% endblock %}