<form method="post">
    <input type="hidden" name="id" value="{{ user.id }}">
    {% if user.active %}
        <button 
            class="fa fa-pause text-muted" 
            title="{{ t('common_deactivate') }}"
            name="action" 
            value="deactivate" 
        ></button>
    {% else %}
        <button 
            class="fa fa-play text-success" 
            title="{{ t('common_activate') }}"
            name="action" 
            value="activate" 
        ></button>
    {% endif %}
    <button 
        class="fa fa-stop text-danger" 
        title="{{ t('common_delete') }}"
        name="action" 
        value="delete" 
        onclick="return areYouSure();" 
    ></button>
</form>