{% extends 'template/twbs_bootstrap.html.twig' %}

{% block title %}Home{% endblock %}

{% block style %}
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700italic' rel='stylesheet' type='text/css'>
    <style>
        #main-content{
            margin-top: 9%;
        }
        #main-title{
            font-family: 'Titillium Web';
        }
        #php-link.btn{
            font-family: 'Ubuntu';
            background: #8892BF;
            color: #444;
        }
        #php-link h1{
            margin: 0;
        }
        #item-container{
            margin-top: 4%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="main-content">
            <div class="col-sm-12 text-center">
                <div id="main-title">
                    <h1>127.0.0.1</h1>
                </div>
            </div>
            <div id="item-container" class="col-sm-12 text-center">
                <a 
                    id="php-link" 
                    class="btn" 
                    href="{{ base_url('assets/php-chunked-xhtml/index.html') }}" 
                    role="button"
                ><h1><em>php</em></h1></a>
            </div>
        </div>
    </div>
{% endblock %}