{% extends 'template/twbs_bootstrap.html.twig' %}

{% block title %}127.0.0.1{% endblock %}

{% block style %}
    <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:900,900italic' rel='stylesheet' type='text/css'>
    <style>
        #main-content{
            margin-top: 9%;
        }
        #main-title{
            font-family: 'Orbitron';
        }
        .the-item{
            position: relative;
        }
        #php-link.btn{
            font-family: 'Ubuntu';
            background: #8892BF;
            color: #444;
        }
        #ci-link.btn{
            background: #dd4814;
        }
        #vim-link.btn{
            font-family: 'Merriweather';
            background: #007F00;
            color: #BFBFBF;
        }
        #twbs-link.btn{
            background: #5A4080;
            color: #EEE;
        }
        .the-item h1{
            margin: 0;
        }
        #vim-link h1{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
        #vim-link h1 span.second{
            position: relative;
            font-size: 24px;
        }
        #vim-link h1 span.first{
            font-size: 1.625em;
            font-style: italic;
            position: absolute;
            left: 18px;
            top: -8px;
        }
        #vim-link h1{
            padding-left: 32px;
        }
        #item-container{
            margin-top: 4%;
        }
        .the-item{
            margin: 0 12px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="main-content">
            <div class="col-sm-12 text-center">
                <div id="main-title">
                    <h1>127.0.0.1</h1>
                </div>
            </div>
            <div id="item-container" class="col-sm-12 text-center">
                <a 
                    id="php-link" 
                    class="btn the-item" 
                    href="{{ base_url('assets/php-chunked-xhtml/index.html') }}" 
                    role="button"
                ><h1><em>php</em></h1></a>
                <a 
                    id="ci-link" 
                    class="btn the-item" 
                    href="{{ base_url('user_guide_src/build/html/index.html') }}" 
                    role="button"
                >
                    <img src="{{ base_url('assets/img/ci-logo-white.png') }}">
                </a>
                <a 
                    id="vim-link" 
                    class="btn the-item" 
                    href="{{ site_url('vim') }}" 
                    role="button"
                >
                    <h1>
                        <span class="first">V</span>
                        <span class="second">im</span>
                    </h1>
                </a>
                <a 
                    id="twbs-link" 
                    class="btn the-item" 
                    href="http://127.0.0.1:9001" 
                    role="button"
                ><h1>B</h1></a>
            </div>
        </div>
    </div>
{% endblock %}