{% extends 'template/dashboard.html.twig' %}

{% block style %}
    {{ parent() }}
    <style>
        .data-moderation .media-object{
            max-width: 64px;
        }
        .data-moderation .media{
            border: 1px solid transparent;
            padding: 15px;
            padding-bottom: 5px;
            cursor: pointer;
        }
        .data-moderation .media:hover{
            border: 1px solid rgba(0, 0, 0, .2);
        }
/*        table.data-locations *{
            font-size: 10px;
        }
*/    </style>
{% endblock %}

{% block dashboard_breadcrumb %}
    <li>
        <a href="{{ site_url('dashboard') }}">
            {{ t('common_dashboard') }}
        </a>
    </li>
    <li class="active">
        {{ t('common_data_moderation') }}
    </li>
{% endblock %}

{% block dashboard_content %}
    {% include 'dashboard/data_moderation/location_inputs.html.twig' %}
    <hr>
    {% include 'dashboard/data_moderation/location_reports.html.twig' %}
{% endblock %}
