{% extends 'template/dashboard.html.twig' %}

{% block dashboard_breadcrumb %}
    <li class="active">
        {{ t('common_dashboard') }}
    </li>
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 text-center">
                    <a href="{{ site_url('dashboard/users') }}">
                        <div class="dashboard-items btn btn-default">
                            <div class="wrapper">
                                <div class="content">
                                    <i class="fa fa-users"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 text-center">
                    <a href="{{ site_url('dashboard/web_api') }}">
                        <div class="dashboard-items btn btn-default">
                            <div class="wrapper">
                                <div class="content">
                                    <i class="fa fa-terminal"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 text-center">
                    <a href="{{ site_url('dashboard/data_moderation') }}">
                        <div class="dashboard-items btn btn-default">
                            <div class="wrapper">
                                <div class="content">
                                    <i class="fa fa-list"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 text-center">
                    <a 
                        href="https://drive.google.com/file/d/0B2z9x0nzjPJtSnA0b2NBRmJ4dzQ/view?usp=sharing"
                        target="_blank" 
                    >
                        <div class="dashboard-items btn btn-default">
                            <div class="wrapper">
                                <div class="content">
                                    <i class="fa fa-android"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}